<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="referrer" content="no-referrer"/>
</head>
<body>
    <div>
        <form method="get" th:action="@{/manager/settingSave?parameterName=loginHistoryTask}">
            <input value="">
            登录历史记录保存天数:<input type="text" name="parameterValue">
            <button type="submit" class="button">保存</button>
        </form>

        <form method="get" th:action="@{/manager/settingSave?(parameterName=loginHistoryTask)}">
            登录历史记录保存天数:<input type="text" name="parameterValue">
            <button type="submit" class="button">保存</button>
        </form>

        <form method="get" th:action="@{/manager/settingSave?(parameterName=loginHistoryTask)}">
            登录历史记录保存天数:<input type="text" name="parameterValue">
            <button type="submit" class="button">保存</button>
        </form>

        <form method="get" th:action="@{/manager/settingSave?(parameterName=loginHistoryTask)}">
            登录历史记录保存天数:<input type="text" name="parameterValue">
            <button type="submit" class="button">保存</button>
        </form>

        <form method="get" th:action="@{/manager/settingSave?(parameterName=loginHistoryTask)}">
            登录历史记录保存天数:<input type="text" name="parameterValue">
            <button type="submit" class="button">保存</button>
        </form>

        <form method="get" th:action="@{/manager/settingSave?(parameterName=loginHistoryTask)}">
            登录历史记录保存天数:<input type="text" name="parameterValue">
            <button type="submit" class="button">保存</button>
        </form>
    </div>
</body>
</html>