<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" th:href="@{/static/css/asd.css}"/>
</head>
<body>
<div id="head">图书管理系统</div>
<div>
    <div id="list">
        <ul>
            <li>
                <a th:href="@{/getBookBorrowHistory/selfHistory}">
                    <div>个人借阅记录查询</div>
                </a>
            </li>
            <li>
                <a th:href="@{/book/userGetBorrowedBook}">
                    <div>个人已借阅书籍查询</div>
                </a>
            </li>
            <li>
                <a th:href="@{/book/userGetBookList}">
                    <div>图书资源列表</div>
                </a>
            </li>
            <li>
                <a th:href="@{/ebook/UserGetEbook}">
                    <div>下载电子书</div>
                </a>
            </li>
            <li>
                <a th:href="@{/password/toUserUpdate}">
                    <div>修改密码</div>
                </a>
            </li>
            <li>
                <a th:href="@{/book/logout}">
                    <div>退出</div>
                </a>
            </li>
        </ul>
    </div>
    <div id="content">



        <form method="get" th:action="@{/password/userRestore}">
            原密码:<input type="text" name="rowPassword">
            新密码:<input type="text" name="password">
            <button type="submit" class="button">保存</button>
            <span th:text="${mag}"></span>
        </form>


    </div>
</body>
</html>