<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanxu.book.mapper.SettingMapper">

    <resultMap id="SettingResultMap" type="com.yanxu.book.entity.Setting">
        <result column="parameterName" jdbcType="VARCHAR" property="parameterName"/>
        <result column="parameterCode" jdbcType="VARCHAR" property="parameterCode"/>
        <result column="parameterValue" jdbcType="VARCHAR" property="parameterValue"/>
    </resultMap>


</mapper>